@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*,
* ::before,
*::after {
  box-sizing: border-box;
}

$font-stack: 'Open Sans', sans-serif;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-stack;
  font-weight: normal;
  font-size: 21px;
  line-height: 1.5;
  margin: 0;
  background-color: #334856;
  color: white;
}
